* {
    box-sizing: border-box;
}

:root {
    --bg-white-color: rgb(220, 224, 232);
    --bg-dark-color: rgb(2, 12, 34);
    --main-color: rgb(203, 166, 247);
    --sub-color: rgb(137, 180, 250);
    --white-color: rgb(205, 214, 244);
    --green-color: rgb(80, 200, 120);
}

body {
    background-color: var(--bg-white-color);
}

ul, li {
    margin: 0;
    padding: 0;
}

/* logo */
.logo {
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    justify-content: center;
    font-size: 7rem;
    font-weight: 700;
    color: var(--white-color);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    font-family: 'Darumadrop One', cursive;
    transform: skew(-15deg);
    animation: pulse 5s infinite;
}

/* Back button */

.btn-back {
    margin-left: 1.2rem;
    margin-top: 2rem;
}

.btn-back a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--bg-dark-color);
}

/* Form section */

form {
    margin: 1rem ;
    border: 3px solid var(--main-color);
    border-radius: 0.5rem;
    animation: border-pulse 3s infinite;
}

input[type=text],
input[type=password] {
    width: 98%;
    padding: 0.5rem;
    margin: 0.5rem;
    display: inline-block;
    border: 1px solid var(--sub-color);
    border-radius: 0.5rem;
}

button {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 48.5%;
}

.container {
    padding: 1.5rem;
}

.container label b {
    margin-left: 0.5rem;
}

.signin {
    background-color: var(--green-color);
}

.signup {
    background-color: var(--sub-color);
}

.signin:hover,
.signup:hover {
    border: 2px solid;
    background-color: var(--bg-white-color);
    animation: border-pulse 2s infinite;
}

/* animate pulse color */
@keyframes pulse {
    0% {
        color: var(--main-color);
    }
    50% {
        color: var(--sub-color);
    }
    100% {
        color: var(--white-color);
    }
}

@keyframes border-pulse {
    0% {
        border-color: var(--main-color);
    }
    50% {
        border-color: var(--sub-color);
    }
    100% {
        border-color: var(--white-color);
    }
}