:root {
  --bg-white-color: rgb(220, 224, 232);
  --bg-dark-color: rgb(2, 12, 34);
  --main-color: rgb(203, 166, 247);
  --sub-color: rgb(137, 180, 250);
  --white-color: rgb(205, 214, 244);
  --green-color: rgb(80, 200, 120);
  --blue-color: rgb(16, 149, 193);
  --price-color: rgb(241, 66, 93);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--bg-white-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

#productForm {
  margin-top: 20px;
}

#productForm label {
  display: inline-block;
  width: 5rem;
  margin-bottom: 5px;
}

#productForm input,
#productForm select {
  width: 30rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#productForm input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--green-color);
  color: var(--bg-dark-color);
  border: 1px solid var(--green-color);
  border-radius: 4px;
  cursor: pointer;
}

#productForm input[type="submit"]:hover {
  background-color: var(--bg-white-color);
  color: var(--green-color);
  border: 1px solid;
  border-color: var(--green-color);
}

#productForm input:disabled,
#productForm select:disabled {
  background-color: #f1f1f1;
  cursor: not-allowed;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
